
body,
ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #DEDEDE;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.videojuego-info {
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

strong {
    font-weight: bold;
    color: darkred;
}

.imagen-videojuego {
    max-width: 200px;
    display: block; 
    margin: 10px auto; 
}



a:hover {
    color: darkred;
} 


