/* .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
} */

.videojuegos-list {
    list-style: none;
    padding: 0;
}

.videojuegos-list li {
    display: flex;
    margin-bottom: 20px;
}

.videojuego-info {
    flex: 1;
    padding-right: 20px;
}

.videojuego-img-container {
    flex: 1;
}

.videojuego-img {
    max-width: 200px;
    height: auto;
    cursor: pointer;
}

body {
    font-family: Arial, sans-serif;
    background-color: #3c3c3c;
}

body,
ul {
    margin: 0;
    padding: 0;
}


.videojuego-info {
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

strong {
    font-weight: bold;
}

a {
    color: rgba(249, 249, 249, 0.8); /* Color con transparencia */
}

a:hover {
    color: darkred;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #f0f0f0; /* Morado */
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

