<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Videojuegos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>VIDEOJUEGOS</h1>
        <h3>Arquitectura de computadoras: segunda evaluación</h3>
        <ul class="videojuegos-list">
            {% for videojuego in videojuegos %}
            <li>
                <div class="videojuego-info">
                    <h2>{{ videojuego['titulo'] }}</h2>
                    <hr>
                    <p><strong>Desarrollador:</strong> {{ videojuego['desarrollador'] }}</p>
                    <p><strong>Año de lanzamiento:</strong> {{ videojuego['anio_lanzamiento'] }}</p>
                    <p><strong>Plataforma:</strong> {{ videojuego['plataforma'] }}</p>
                    <p><strong>Clasificación:</strong> {{ videojuego['clasificacion'] }}</p>
                </div>
                <div class="videojuego-img-container">
                    <img src="{{ videojuego['urlImagen'] }}" alt="{{ videojuego['titulo'] }}" class="videojuego-img" data-id="{{ videojuego['id'] }}">
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

    <script>
        // Agregar evento de clic a cada imagen de videojuego
        document.querySelectorAll('.videojuego-img').forEach(function(img) {
            img.addEventListener('click', function() {
                // Obtener el ID del videojuego del atributo data
                var videojuegoId = this.getAttribute('data-id');
                // Redirigir a la página de detalles del videojuego
                window.location.href = '/videojuego/' + videojuegoId;
            });
        });
    </script>
</body>
</html>
